apiVersion: v1
kind: PersistentVolume
metadata:
  name: ebs-volume
spec:
  capacity:
    storage: "{{ ebs_volume_size }}"
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ebs
  csi:
    driver: "{{ csi_driver | trim }}"
    volumeHandle: "{{ ebs_volume_id }}"
    volumeAttributes:
      fsType: ext4
