[masters]
127.0.0.1 ansible_connection=local ansible_python_interpreter="/usr/bin/python3"

[workers]


[k8s_cluster:children]
masters
workers

# Legacy groups for compatibility
[controllers:children]
masters

[agents:children]
workers

[nodes:children]
masters
workers

[all:vars]
ansible_user='ubuntu'
rke2_version='v1.33.4+rke2r1'
rke2_token='defaultSecret12345'
